<!-- <p>{{quote.description}}</p>
<button (click)= 'quoteComplete(true)'>Complete</button> -->
<div>
    <p>{{quote.description}}</p>
    <P>The quote was uploaded by {{quote.submission}}, <span id="when">{{quote.postDate|dateCount}} days ago.</span></P>
    <button class="btn btn-sm btn-success" (click)='upvote()'><img src="assets/Img/thumbs-up-hand-symbol.png" alt="likeIcon" height="25px" width="25px">{{quote.likes}}</button>
    <button class="btn btn-sm hate" id="hate" (click)='downvote()'><img src="assets/Img/thumbs-down-silhouette.png" alt="image" height="25px" width="25px">{{quote.dislikes}}</button>
    <button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete</button>
    </div>

<!-- <div>
    <p>{{quote.description}}</p>
    <p>This quote will be complete in {{quote.completeDate|dateCount}} days</p>
    <P>The quote was uploaded by {{quote.submission}}, <span id="when"> days ago.</span></P>
    <button class="btn btn-sm btn-success" (click)='upvote()'><img src="assets/Img/thumbs-up-hand-symbol.png" alt="likeIcon" height="25px" width="25px">{{quote.likes}}</button>
    <button class="btn btn-sm hate" id="hate" (click)='downvote()'><img src="assets/Img/thumbs-down-silhouette.png" alt="image" height="25px" width="25px">{{quote.dislikes}}</button>
    <button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete</button>
    </div> -->